<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta meta name="viewport" content="width=device-width, initial-scale=1">
    <title>成功登入勇者新手村</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/memberSS.css') }}">
</head>


<body>
    <div class = "welcome">
        <div>
            <header>
                <h2>
                    歡迎、歡迎!!!窩們~歡迎你!<br/>
                    這是勇者小雞會員頁
                </h2>
            </header>
        </div>
    </div>

    <div class = "content">
        <img src = "/mysource/success.png" />

        <txt>
            恭喜成功登入
        </txt>

        <a href = "/logout">
            點此登出
        </a>
    </div>





</body>
</html>